{{define "content"}}

<h1>Video Devices</h1>

<table class="table table-hover">
<thead>
<tr>
	<th>Key</th>
	<th>Value</th>
	<th></th>
</tr>
</thead>
<tbody>
{{range .Rows}}
<tr>
	<td>{{.Key}}</td>
	<td>{{.Value}}</td>
	<td>
		<a class="btn btn-danger" href="#" role="button"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
	</td>
</tr>
{{end}}
</tbody>
</table>

<form class="form-inline">
	<input type="text" name="address" class="form-control" id="address" placeholder="ip or hostname" />
	<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
</form>

{{end}}
